.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 6rem;
  color: var(--crisp-white);
}

.about-history,
.about-image {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 5rem;
}

.about-history h2 {
  font-family: var(--font-forum);
  font-size: calc(1.1rem + 2.2vw);
  font-weight: 400;
  text-align: center;
}

.about-history p {
  font-family: var(--font-dm);
  font-size: 1rem;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

@media (min-width: 1200px) {
  .about {
    padding: 2rem;
  }

  .about-history,
  .about-image {
    width: 45%;
    padding: 0 1rem;
  }
}

.about-image img {
  width: 100%;
  height: auto;
}
