/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--normal-black);
  width: 100%;
  height: 50px;
  padding: 2rem 0;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0 2rem;
}

.navbar-link {
  margin: 0 30px;
  position: relative;
  font-family: var(--font-dm);
  color: var(--crisp-white);
  line-height: 28px;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
}

.navbar-link a {
  text-decoration: none;
  color: var(--crisp-white);
  position: relative;
  text-transform: uppercase;
}

.navbar-link a:hover {
  color: var(--golden-yellow);
}

.navbar-link a:hover:before,
.navbar-link a:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  height: 1px;
  background-color: var(--golden-yellow);
  transform: scaleX(0.5);
  transition: all 0.5 ease-in;
}

.navbar-link a:hover:after {
  bottom: -16px;
}

.navbar-btn {
  background-color: var(--golden-yellow);
  padding: 15px 35px;
  font-family: var(--font-dm);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.25s ease, transform 0.3s;
}

.navbar-btn:hover {
  background-color: transparent;
  color: var(--crisp-white);
  border: 1px solid var(--golden-yellow);
  transform: scale(1.05);
}

.navbar-mobile {
  display: none;
}

.navbar-mobile__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--normal-black);
  transition: 0.5s ease-in;
  z-index: 10;
}

.navbar-mobile__overlay .overlay__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: var(--golden-yellow);
  cursor: pointer;
}

.navbar-mobile__links {
  list-style: none;
}

.mobile-link {
  margin: 2rem;
  color: var(--crisp-white);
  font-size: 20px;
  text-align: center;
  font-family: var(--font-dm);
  cursor: pointer;
}

.navbar-mobile__links li:hover {
  color: var(--golden-yellow);
}

@media screen and (min-width: 2000px) {
  .navbar-logo img {
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .navbar-links {
    display: none;
  }

  .navbar-mobile {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-btn {
    display: none;
  }

  .navbar-logo img {
    width: 110px;
  }
}

/* Hero */
.slider-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.slides {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  animation: zoom 5s linear;
}

.slide-title,
.slide-text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--crisp-white);
  text-align: center;
  z-index: 10;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

.slide-title {
  top: 22%;
  font-family: var(--font-forum);
  font-size: calc(0.8rem + 6.2vw);
  font-weight: 400;
}

.slide-text {
  top: 48%;
  font-family: var(--font-dm);
  font-size: calc(0.1rem + 1vw);
  font-weight: 500;
  letter-spacing: 1px;
}

.prev,
.next {
  position: absolute;
  top: 40%;
  z-index: 100;
  color: var(--golden-yellow);
  padding: 1rem;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid var(--golden-yellow);
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 50%;
}

/* About */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 6rem;
  color: var(--crisp-white);
}

.about-history,
.about-image {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 5rem;
}

.about-history h2 {
  font-family: var(--font-forum);
  font-size: calc(1.1rem + 2.2vw);
  font-weight: 400;
  text-align: center;
}

.about-history p {
  font-family: var(--font-dm);
  font-size: 1rem;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

@media (min-width: 1200px) {
  .about {
    padding: 2rem;
  }

  .about-history,
  .about-image {
    width: 45%;
    padding: 0 1rem;
  }
}

.about-image img {
  width: 100%;
  height: auto;
}

/* Menu */
.menu {
  background: var(--black);
  padding: 3rem 5rem;
}

.menu-title h2 {
  font-family: var(--font-forum);
  font-size: calc(1.1rem + 2.2vw);
  font-weight: 400;
  text-align: center;
  color: var(--crisp-white);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 3rem;
}

.card-title {
  color: var(--golden-yellow);
  font-family: var(--font-dm);
  font-size: 1.4rem;
  font-weight: 400;
}

.card-title:hover,
.menu-card .span:hover {
  color: var(--creamy-beige);
}

.menu-card .span {
  color: var(--golden-yellow);
  font-size: 1.4rem;
  font-family: var(--font-dm);
  margin-block: 10px;
}

.menu-card .card-text {
  color: var(--crisp-white);
  font-family: var(--font-dm);
  font-size: 0.9rem;
  line-height: 4em;
}

@media (min-width: 575px) {
  .menu-card .title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .menu-card .span {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 18px;
    position: relative;
  }

  .menu-card .span::before {
    content: "";
    height: 6px;
    flex-grow: 1;
    border-block: 1px solid var(--crisp-white);
  }
}

@media (min-width: 992px) {
  .menu .menu-grid::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 45%;
    border-inline-start: 1px solid var(--creamy-beige);
  }
}

/* Team */
.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chef-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chef-content p {
  color: var(--crisp-white);
  font-family: var(--font-dm);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.8em;
  padding: 0 50px;
}

@media (min-width: 992px) {
  .team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    text-align: left;
  }

  .team h2 {
    font-family: var(--font-forum);
    font-size: calc(1.1rem + 2.2vw);
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: 0.04em;
    color: var(--crisp-white);
    padding: 0 50px;
  }

  .team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .team-content .container {
    position: relative;
  }

  .team .section-subtitle::after {
    margin-inline: 0;
  }

  .team-content .container {
    justify-content: flex-start;
  }
}

/* Offers */
.offers {
  background-color: var(--varied-black);
  padding: 6rem;
}

.offers h2 {
  font-family: var(--font-forum);
  font-size: calc(1.1rem + 2.2vw);
  font-weight: 400;
  color: var(--crisp-white);
  text-align: center;
  margin-block: 20px;
}

.offers p {
  color: var(--crisp-white);
  font-family: var(--font-dm);
  font-size: 1rem;
  font-weight: 400;
}

.offer-card {
  width: 400px;
  padding: 40px 50px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.offer-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  transition: 0.5s ease-in;
}

.offer:hover .card-icon {
  transform: scale(-1) rotate(180deg);
}
