.btn {
  background-color: var(--golden-brown);
  padding: 15px 35px;
  font-family: var(--font-dm);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.25s ease, transform 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: var(--crisp-white);
  border: 1px solid var(--golden-yellow);
  transform: scale(1.05);
}

.btn-secondary {
  margin: 1rem 0;
}

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 3rem;
}