:root {
  --font-forum: "Forum", serif;
  --font-dm: "DM Sans", sans-serif;

  --golden-yellow: #daa520;
  --golden-brown: #e4c590;
  --orange-color: #ffab1c;
  --creamy-yellow: #f9e797;
  --creamy-beige: #f5f5dc;
  --warm-gray: #bdc3c7;
  --normal-black: #131313;
  --black: #000000;
  --charcoal-black: #333333;
  --varied-black: #161718;
  --crisp-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

a {
  color: unset;
  text-decoration: none;
}
